main.notFoundMain {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    div.error404 {
        p {
            font-size: 1rem;
            
            span {
                font-size: 2.25rem;
            }
        }
    }
    .back-to-safety {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: #0a6320;
    }
    .back-to-safety:hover,
    .back-to-safety:active {
        color: #deabab;
    }
}