ul.todos {
    li {
        button {
            border: none;
            background-color: #fff;
            outline: none;
            img {
                width: 2rem;
            }
        }
    }
}