@use 'reboot';
@use 'header';
@use 'back-to-safety';
@use 'todos';
@use 'form';





body {
    background-color: #e6e6e6;
    #app {
        max-width: 360px;
        margin: 0 auto;
    }
    div.error {
        font-weight: bold;
        color: #bd0000;
    }
    div.buttonDiv {
        text-align: center;
    }
}
